.details-btn {
    cursor: pointer;
    border: 0;
    padding: 15px 18px;
    border-radius: 50px;
    background-color: #F8D7DA;
}

.details-btn:hover {
    background-color: #ca898e;
}

.card {
    height: 100% !important;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.card-img-top {
    height: 200px;
    border-radius: 15px;
}